<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                               http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>HospitalManagement</display-name>
    <description>Hospital Management System Deployment Descriptor</description>
    <listener>
        <listener-class>com.hospital.listeners.AppStartupListener</listener-class>
    </listener>

    <!-- SignUpServlet Mapping -->
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.hospital.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <!-- AppointmentServlet Mapping -->
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.AppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/AppointmentServlet</url-pattern>
    </servlet-mapping>
    <!-- LabServlet Mapping -->
    <servlet>
        <servlet-name>LabServlet</servlet-name>
        <servlet-class>com.hospital.servlets.LabServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LabServlet</servlet-name>
        <url-pattern>/LabServlet</url-pattern>
    </servlet-mapping>
    <!-- WardServlet Mapping -->
    <servlet>
        <servlet-name>WardServlet</servlet-name>
        <servlet-class>com.hospital.servlets.WardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WardServlet</servlet-name>
        <url-pattern>/WardServlet</url-pattern>
    </servlet-mapping>
    <!-- TreatmentServlet Mapping -->
    <servlet>
        <servlet-name>TreatmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.TreatmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TreatmentServlet</servlet-name>
        <url-pattern>/TreatmentServlet</url-pattern>
    </servlet-mapping>
    <!-- PharmacyServlet Mapping -->
    <servlet>
        <servlet-name>PharmacyServlet</servlet-name>
        <servlet-class>com.hospital.servlets.PharmacyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PharmacyServlet</servlet-name>
        <url-pattern>/PharmacyServlet</url-pattern>
    </servlet-mapping>
    <!-- InvoiceServlet Mapping -->
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>com.hospital.servlets.InvoiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/InvoiceServlet</url-pattern>
    </servlet-mapping>
    <!-- DepartmentServlet Mapping -->
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.DepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/DepartmentServlet</url-pattern>
    </servlet-mapping>
    <!-- PrescriptionServlet Mapping -->
    <servlet>
        <servlet-name>PrescriptionServlet</servlet-name>
        <servlet-class>com.hospital.servlets.PrescriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrescriptionServlet</servlet-name>
        <url-pattern>/PrescriptionServlet</url-pattern>
    </servlet-mapping>
    <!-- AdminAppointmentServlet Mapping -->
    <servlet>
        <servlet-name>AdminAppointmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.AdminAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAppointmentServlet</servlet-name>
        <url-pattern>/AdminAppointmentServlet</url-pattern>
    </servlet-mapping>
    <!-- PharmacySupplierServlet Mapping -->
    <servlet>
        <servlet-name>PharmacySupplierServlet</servlet-name>
        <servlet-class>com.hospital.servlets.PharmacySupplierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PharmacySupplierServlet</servlet-name>
        <url-pattern>/PharmacySupplierServlet</url-pattern>
    </servlet-mapping>
    <!-- ApproveAppointmentServlet Mapping -->
    <servlet>
        <servlet-name>ApproveAppointmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.ApproveAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApproveAppointmentServlet</servlet-name>
        <url-pattern>/ApproveAppointmentServlet</url-pattern>
    </servlet-mapping>
    <!-- RejectAppointmentServlet Mapping -->
    <servlet>
        <servlet-name>RejectAppointmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.RejectAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RejectAppointmentServlet</servlet-name>
        <url-pattern>/RejectAppointmentServlet</url-pattern>
    </servlet-mapping>
    <!-- UpdateTreatmentServlet Mapping -->
    <servlet>
        <servlet-name>UpdateTreatmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.UpdateTreatmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTreatmentServlet</servlet-name>
        <url-pattern>/UpdateTreatmentServlet</url-pattern>
    </servlet-mapping>
    <!-- DeleteTreatmentServlet Mapping -->
    <servlet>
        <servlet-name>DeleteTreatmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.DeleteTreatmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTreatmentServlet</servlet-name>
        <url-pattern>/DeleteTreatmentServlet</url-pattern>
    </servlet-mapping>
    <!-- DeleteStaffServlet Mapping -->
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>com.hospital.servlets.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <!-- UpdateStaffServlet Mapping -->
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>com.hospital.servlets.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <!-- UpdateMedicineServlet Mapping -->
    <servlet>
        <servlet-name>UpdateMedicineServlet</servlet-name>
        <servlet-class>com.hospital.servlets.UpdateMedicineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMedicineServlet</servlet-name>
        <url-pattern>/UpdateMedicineServlet</url-pattern>
    </servlet-mapping>
    <!-- UpdateAppointmentServlet Mapping -->
    <servlet>
        <servlet-name>UpdateAppointmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.UpdateAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAppointmentServlet</servlet-name>
        <url-pattern>/UpdateAppointmentServlet</url-pattern>
    </servlet-mapping>
    <!-- UpdatePrescriptionServlet Mapping -->
    <servlet>
        <servlet-name>UpdatePrescriptionServlet</servlet-name>
        <servlet-class>com.hospital.servlets.UpdatePrescriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePrescriptionServlet</servlet-name>
        <url-pattern>/UpdatePrescriptionServlet</url-pattern>
    </servlet-mapping>
    <!-- UpdateDepartmentServlet Mapping -->
    <servlet>
        <servlet-name>UpdateDepartmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.UpdateDepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDepartmentServlet</servlet-name>
        <url-pattern>/UpdateDepartmentServlet</url-pattern>
    </servlet-mapping>
    <!-- DeleteMedicineServlet Mapping -->
    <servlet>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <servlet-class>com.hospital.servlets.DeleteMedicineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <url-pattern>/DeleteMedicineServlet</url-pattern>
    </servlet-mapping>
<!-- DeleteAppointmentServlet Mapping -->
    <servlet>
        <servlet-name>DeleteAppointmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.DeleteAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAppointmentServlet</servlet-name>
        <url-pattern>/DeleteAppointmentServlet</url-pattern>
    </servlet-mapping>

<!-- DeletePrescriptionServlet Mapping -->
    <servlet>
        <servlet-name>DeletePrescriptionServlet</servlet-name>
        <servlet-class>com.hospital.servlets.DeletePrescriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePrescriptionServlet</servlet-name>
        <url-pattern>/DeletePrescriptionServlet</url-pattern>
    </servlet-mapping>

<!-- DoctorServlet -->
    <servlet>
        <servlet-name>DoctorServlet</servlet-name>
        <servlet-class>com.hospital.servlets.DoctorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorServlet</servlet-name>
        <url-pattern>/DoctorServlet</url-pattern>
    </servlet-mapping>

<!-- UpdateDoctorServlet Mapping -->
    <servlet>
        <servlet-name>UpdateDoctorServlet</servlet-name>
        <servlet-class>com.hospital.servlets.UpdateDoctorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDoctorServlet</servlet-name>
        <url-pattern>/UpdateDoctorServlet</url-pattern>
    </servlet-mapping>

<!-- DeleteDoctorServlet -->
    <servlet>
        <servlet-name>DeleteDoctorServlet</servlet-name>
        <servlet-class>com.hospital.servlets.DeleteDoctorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDoctorServlet</servlet-name>
        <url-pattern>/DeleteDoctorServlet</url-pattern>
    </servlet-mapping>






 <!-- ApproveUserServlet: Admin approves pending user signup requests -->
    <servlet>
        <servlet-name>ApproveUserServlet</servlet-name>
        <servlet-class>com.hospital.servlets.ApproveUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApproveUserServlet</servlet-name>
        <url-pattern>/ApproveUserServlet</url-pattern>
    </servlet-mapping>

    <!-- UserLoginServlet: Handles user login requests -->
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.hospital.servlets.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    
    <!-- AdminLoginServlet: Handles admin login requests -->
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.hospital.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    
    <!-- BookAppointmentServlet: Processes appointment booking -->
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>com.hospital.servlets.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointmentServlet</url-pattern>
    </servlet-mapping>
    
    
    <!-- (Optional) Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
